<ion-content class="login-content">

    <ion-row>
      <ion-col text-center><img src="assets/RENACO_TITLE_W_01.png" /></ion-col>
    </ion-row>

      <div class="login-box">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <ion-item>
            <ion-input type="text" placeholder="USUARIO" [formControl]="usuario"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="CLAVE" [formControl]="clave"></ion-input>
          </ion-item>

          <div padding>
            <ion-row>
              <ion-col class="signup-col">
                <button ion-button class="submit-btn" block type="submit" [disabled]="!form.valid">INGRESAR</button>
              </ion-col>
            </ion-row>
          </div>

        </form>

      </div>


      <div padding>
        <p class="error" *ngIf="error">{{ errorMessage }}</p>
      </div>



          <div class="footer"  style="position: absolute; bottom: 0px; width: 100%" padding>
            <p>SUBSECRETARÍA DE RECURSOS NATURALES DE CHACO - DIRECCIÓN DE BOSQUES</p>
          </div>


  </ion-content>
