page-login {
    .error{
       background: rgba(255,255,255,0.5) !important; 
        color: darkred;
        padding: 20px 20px 20px 20px;
    }
}
page-login {
 
  .login-content {
    //background: #56CA96;
    background-image: url('../assets/RENACO_BG.jpg');
    background-position-x: center;
    background-size:cover;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
      //background: #399F8B;    
      background: rgba(255,255,255,0.3) !important; 
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 10px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background:  #51CFB1 ;
       border-radius: 10px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }

     .footer {
       background: rgba(0,0,0,0.3) !important; 
       color: #ffffff;
       font-size: 1em;
       text-align: center;
     }



  }
 
}