<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="/assets/RENACO_TITLE_01.png" /></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Lista de tareas</h3>

  <button ion-button secondary menuToggle>Comenzar!</button>
</ion-content>
 